.aside {
  width: 70px;
  height: 100%; // viewport height vh ,vw- bezposredni zwiazek z wysokoscia ,szerokoscia ekrani
  padding-top: 70px;
  display: none;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: space-between;
  position: fixed; // sticky header using position: fixed
  z-index: 1;
  //start from top
  top: 0;
  //start from left
  left: 0;
  background-color: $white;
  // media query max width -descop first min width - phone first
  @media (min-width: 600px) {
    //komorka pozioma, pow800 tablety
    display: none;
  }
  //tablety
  @media (min-width: 800px) {
    display: flex;
    background-color: $color-yellow;
  }
  @media (min-width: 1100px) {
    //duze ekrany
    display: flex;
    background-color: $white;
  }

  &__text {
    transform: rotate(-90deg);
    width: 250px;
    height: 200px;
    font-size: 16px;
    color: $grey-dark;
  }
  &__social {
    &__icon {
      height: 18px;
      display: block;
      margin: 16px auto;
      cursor: pointer;
      &:hover {
        path,
        circle {
          fill: $color-yellow;
        }
      }
      path,
      circle {
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        fill: $grey-dark;
      }
    }
  }
}
