.aside {
    width: 70px;
    height: 90vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    justify-content: space-between;
    // sticky header using position: fixed
    position: fixed;
    left: 0;
    background-color: $white;
    &__text {
        transform: rotate(-90deg);
        width: 250px;
        height: 200px;
    }
    &__social {
        &__icon {
            height: 18px;
            display: block;
            margin: 16px auto;
            cursor: pointer;
            &:hover {
                path, circle {
                    fill: $color-yellow;
                }
            }
            path, circle {
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                fill: $grey-dark;
            }
        }
    }
}
