.footer {
  display: flex;
  margin: 0px 10px;
  padding: 65px 15px 45px 15px;
  background-color: $font-header;
  flex-wrap: wrap;
  //responsive
  @media (min-width: 600px) {
    //komorka pozioma, pow800 tablety
    display: block;
    margin: 0px 10px;
  }
  //tablety
  @media (min-width: 800px) {
    display: block;
    margin: 0px 10px;
  }
  @media (min-width: 1100px) {
    //duze ekrany
    display: flex;
    margin: 0px 70px;
  }
  h3 {
    font-size: 18px;
    color: $white;
  }
  ul {
    padding: 0;
  }
  li {
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    color: $grey-dark;
    list-style-type: none;
    padding: 8px 0;
  }
  a {
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .link {
    &--yellow {
      color: $color-yellow;
      &:hover {
        color: $white;
      }
    }
    &--grey {
      color: $grey-dark;
      text-decoration: none;
      &:hover {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
  }
  &__column {
    width: 100%;
    padding: 15px;
    text-align: center;
    @media (min-width: 600px) {
      width: 100%;
      padding: 15px;
    }
    //tablety
    @media (min-width: 800px) {
      width: 50%;
      padding: 15px;
      text-align: left;
      flex-wrap: wrap;
    }
    @media (min-width: 1100px) {
      width: 25%;
      padding: 15px;
      text-align: left;
    }
  }
}
