@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Light.woff2") format("woff2"),
    url("/fonts/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// url('../../fonts/Lora-Regular.woff' - the font is taking form src folder. Using gulp the brower needs taking from disc
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Italic.woff") format("woff2"),
    url("/fonts/Lora-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// browser takes a font z disc folder so the folder font from dist - using the gulp
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// second font as a backup
h1 {
  font-family: "Montserrat-Bold";
  color: $white;
  font-size: 62px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: $color-yellow;
  font-size: 45px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: $font-header;
  font-size: 35px;
  margin: 0 0 22px;
}
h4 {
  font-family: "Lora", serif;
  color: $title;
  font-size: 20px;
}
h5 {
  font-family: "PlayfairDisplay", serif;
  color: $title;
  font-size: 20px;
  font-style: italic;
}
h6 {
  font-family: "Lora", serif;
  color: $title;
  font-size: 20px;
  font-style: italic;
}
a {
  font-family: "Montserrat-Bold", sans-serif;
}
p {
  font-family: "OpenSans", sans-serif;
  color: $grey-p;
  font-size: 16px;
}
